@model DataPal.Models.SimKimNews

@{
    ViewBag.Title = "DeleteSimKimNews";
}
<h2>Delete SimKimNews</h2>
<div class="delete-admin-page-wrapper">
    <h3>Are you sure you want to delete this?</h3>
    <fieldset>
        <legend>SimKimNews</legend>

        <div class="display-label">
             @Html.DisplayNameFor(model => model.Title):
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Title)
        </div>
   
    </fieldset>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" /> |
            @Html.ActionLink("Back to List", "SimKimNews")
        </p>
    }
</div>